#
# System
#

# Logs
logs/
*.log

# PIDs
*.pid
*.seed
*.pid.lock
pids

# File manager configs
.directory
Thumbs.db
*.DS_Store

#
# JavaScript
#
# NPM
.npm/
node_modules/
npm-debug.log*

# Node.js
.node_repl_history

# Yarn
.yarn-integrity
yarn-debug.log*
yarn-error.log*

# Since this is an npm module, package-lock.json is ignored when published
# yarn.lock is also ignored when published, but it is kept
# because it might be sometimes useful for debug errors caused by
# breaking changes of the dependencies.
# See https://classic.yarnpkg.com/blog/2016/11/24/lockfiles-for-all/
package-lock.json

# Other tools

# Ava
test/snapshots/
.eslintcache

# React Native
.expo/
